<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.sample.melangeproject.CapellaMT" uri="http://capellamt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.sample.melangeproject.CapellaMT" id="org.sample.melangeproject.Capella" uri="http://www.polarsys.org/capella/core/pa/1.0.0">
      <adapter class="org.sample.melangeproject.capella.adapters.capellamt.CapellaAdapter" modeltypeId="org.sample.melangeproject.CapellaMT"/>
    </language>
  </extension>
</plugin>
